.navbar {
  position: relative;
  width: 96%;
  margin: auto;
}

.line {
  width: 5rem;
  height: 2px;
  background: #444444;
  position: absolute;
  left: 47%;
}

.mb-5 {
  margin-bottom: 8rem !important;
}

.display-2 {
  font-family: "Dosis", sans-serif;
  font-size: 2rem;
}

.carousel {
  position: relative;
  margin: auto;
  width: 95%;
}

.navbar-expand-lg .navbar-collapse {
  position: absolute;
  right: 3%;
}

.navbar-caption {
  font-weight: 700;
  white-space: normal;
  vertical-align: -4px;
  line-height: 3.125rem !important;
}

.text-warning {
  color: #c1c1c1 !important;
  transition: 0.5s ease-in-out;
}

a.nav-link.text-warning:hover {
  color: #444444 !important;
}

.display-4 {
  font-family: "Dosis", sans-serif;
  font-size: 2rem;
}

.carousel {
  position: relative;
  margin: auto;
  width: 96%;
}

.display-5 {
  font-family: "Dosis", sans-serif;
  font-size: 1.2rem;
  line-height: 0.3;
  position: relative;
  width: 100%;
  margin-left: 2%;
}

.card-img {
  width: 21%;
  height: 33%;
  margin-left: 19px;
}

.display-4 {
  font-family: "Dosis", sans-serif;
  font-size: 1.4rem;
}

.my-img {
  width: 22%;
  height: 36%;
  margin: 17px auto;
}


.underline {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-card {
  padding: 80px 20px;
}

.my-card:nth-child(odd) {
  background-color: #cccccc;
}

.my-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small-img {
  text-align: center;
  height: 2.5em;
  width: 2.5em;
  margin: 0;
  line-height: 2.5em;
  top: 0;
  right: 0;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background-color: #ffbc00 !important;
}

.img-container {
  width: 33%;
  height: 33%;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 35%;
}

.img-split img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-container {
  position: relative;
  width: 132px;
  height: 132px;
  background-color: rgb(46, 45, 45);
  border-radius: 50%;
  margin: 0 auto;
}

.logo-container {
  width: 60px;
  height: 60px;
  background-color: rgb(46, 45, 45);
  border-radius: 50%;
  /* margin: 0 auto; */
  position: relative;
}

.logo-container img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  position: absolute;
  top: 22%;
  left: 23%;
}


.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  text-align: center;
}

.wrapper {
  position: relative;
}

h3 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 29px;
}

.wrapper:before {
  content: '\2192';
  font-family: MobiriseIcons !important;
  position: absolute;
  font-size: 56px;
  left: -39px;
  top: 14%;
  color: #444444;
  opacity: .4;

}

.social-list {
  list-style: none;
  padding: 0;
}

.inner-text {
  color: #d5d4d4;
  line-height: 3em;
  position: absolute;
  top: 17%;
  left: 25%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1243px;
  }
}