$base-font-size:16px;
$white: #ffffff;
$main: #24333c;
$primary: #1ab188;
$warning:#FFCA1D;
$success:#45A132;
$darkGreen:#286E19;
$lightGreen:#93C588;
$light:#FAF6F6;
$secondary: #a0b3b0;
$dark: #595959;
$borders: rgba(226, 223, 223, 0.8);
$lightgray: #f1f1f1;