.info-container {
    position: absolute;
    text-align: right;
    top: 19%;
    background-color: #c1bdba;
    padding: 3%;
    width: 50%;
    left: 24%;

    h1 {
        text-align: center;
    }
}

@media (min-width: 320px) {
    .info-container {
        width: 75%;
        left: 19%;
    }
}

@media (min-width: 768px) {
    .info-container {
        width: 75%;
        left: 14%;
    }
}

@media (min-width: 1440px) {
    .info-container {
        width: 58%;
        left: 23%;
    }
}