$base-font-size:16px;
$white: #ffffff;
$main: #E3080D;
$primary: #3F88C5;
$warning:#FFCA1D;
$success:#45A132;
$darkGreen:#286E19;
$lightGreen:#93C588;
$light:#FAF6F6;
$secondary: #bac1b8;
$dark: #595959;
$borders: rgba(226, 223, 223, 0.8);
$lightgray: #f1f1f1;