* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;

}

nav.sidebar {
    background-color: rgb(34, 33, 33);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    width: 16%;
}

.sidebar a,
.dropdown-btn {
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    padding: 3%;

}

.dropdown-container {
    display: none;
}

.changed-dropdown-container {
    display: block;
    background-color: #a3a2a23b;
}

.active {
    background-color: green;
    color: white;
}

.sidebar a:hover,
.dropdown-btn:hover {
    color: white;
}


.content {
    width: 84%;
    padding: 2%;
    position: absolute;
    left: 16%;
    font-size: 20px;

}

.fa-caret-down {
    float: right;
}